/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/public/img/private/candidates/*
/storage/app/uploads/cvs/*
/public/MWord/*
/public/google80efb4bc72ea7f17.html
/public/yandex_678cea6dbcf276b6.html
