/* Vacancies Tabs is vertical tabs with id #v-pills-tab */
/* CV Form is horizontal tabs with id #pills-tab   */

.cv-section {
    padding-top: 40px;
    padding-bottom: 80px;
    flex-direction: column;
}

/* CV actions Start */
.cv-actions {
    margin-bottom: 40px;
    display: flex;
    gap: 30px;
}
.cv-actions__button {
    background-color: transparent;
    outline: none;
    border-radius: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    gap: 7px;
}
/* CV actions End */


/* Modal Start */
.upload-cv-modal__title {
    font-weight: bold;
}
.modal-body {
    font-weight: 300;
}
.modal-body form {
    margin-top: 20px;
    margin-bottom: 10px;
}
.modal-footer button {
    padding: 12px 18px;
}
.modal-footer button:hover {
    color: white;
}
.modal-footer button:focus {
    box-shadow: none;
}
/* Modal End */


/* Upload file start */
.upload-file::-webkit-file-upload-button {
    border: none;
    width: 0;
    padding-left: 0;
    padding-right: 0;
}
.upload-file {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background: white;
    position: relative;
    padding: 0.375rem 0.40rem;
    width: 100%;
    cursor: pointer;
    font-weight: 300;
}
.upload-file::after {
    content: 'Обзор...';
    background: #E9ECEF;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: black;
}
.upload-photo::after {
    display: none;
}
.upload-photo {
    font-size: 15px;
    color: #0000009e;
    border: 1px solid #d4d3d3;
    border-radius: 6px;
    padding: 8px 16px;
}
/* Upload file end */


/* JQuery Form Styler Select start */
.cv-select {
    width: 100%;
}
.cv-select .jq-selectbox__select {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 42px;
    background: white;
    box-shadow: none;
}
.cv-select .jq-selectbox__trigger-arrow {
    top: 17px;
}
.jq-selectbox__select {
    border: 1px solid #CCC;
    padding-left: 18px;
}
.cv-select .jq-selectbox__select-text {
    color: #000000e0;
    background: transparent;
    cursor: pointer;
}
.cv-select .jq-selectbox__dropdown {
    margin-top: -1px;
    top: 42px !important;
    box-shadow: none;
    font-family: 'Roboto', sans-serif !important;
}
.cv-select .jq-selectbox__dropdown li {
    padding: 5px 18px 6px;
    color: #7d7c7c;
    font-family: 'Roboto', sans-serif !important;
}
.cv-select .jq-selectbox__dropdown li:hover {
    color: #1b1a19;
    background-color: #f3f3f3;
}
.jq-selectbox li.selected {
    background-color: #f3f3f3;
}
.jq-checkbox.focused,
.jq-radio.focused {
    border-color: #5f5f5f;
}
.jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid #CCC;
}
/* JQuery Form Styler Select end */


/* JQuery Form Styler Radiobuttons start */
.cv-radio {
    width: 19px;
    height: 19px;
    border: 1px solid #5f5f5f;
    background: #f5f5f5;
}
.jq-radio__div {
    width: 13px !important;
    height: 13px !important;
    position: absolute;
    margin: 0 !important;
    top: 2px;
    left: 2px;
}
.jq-radio.checked .jq-radio__div {
    background: #000000ad;
}
/* JQuery Form Styler Radiobuttons start */


/* CV Form Start */
.width-100 {
    width: 100%;
}
.mt-18px {
    margin-top: 18px;
}
.w-100-50-33,
.w-100-50,
.w-100-33,
.w-100-25 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.w-50-inner {
    width: 48%;
    display: flex;
    justify-content: space-between;
}
.w-33-inner {
    width: 31.5%;
}
.w-25-inner {
    width: 23.5%;
}
.align-flex-center {
    align-items: center;
}
.align-flex-end {
    align-items: flex-end;
}
#cv-form label {
    width: 100%;
    margin-bottom: 6px;
    font-size: 15px;
}
#cv-form label span {
    color: red;
}
#cv-form .cv-input {
    width: 100%;
    border: 1px solid #d4d3d3;
    border-radius: 6px;
    padding: 8px 16px;
}
#pills-tab {
    border: 1px solid #dee2e6;
    justify-content: space-between;
    padding-bottom: 1px;
}
#pills-tab button {
    pointer-events: none;
}
#pills-tab .nav-link {
    border-radius: 0;
    color: #322f35;
    border: none;
    padding: 17px 15px;
    font-size: 15px;
    font-weight: bold;
}
#pills-tab .nav-link.active {
    color: #322f35;
    background-color: #F8F7F7;
    border: none;
}
#pills-tabContent {
    background: #f2f1f1;
    padding: 40px 45px 55px;
}
#pills-tabContent h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 19px;
}
.cv-form-navigations {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}
.form-error {
    background: var(--main-color);
    margin: 30px 0 -20px;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 15px;
    display: none;
}
.add-additional-inputs {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    width: fit-content;
}
/* Personal Info Tab Start */
.personal-tab-content {
    display: flex;
    justify-content: space-between;
}
.married-radios {
    display: flex;
    justify-content: center;
}
.married-radios label {
    width: auto !important;
}
.married-radios .no-childs-label {
    margin-right: 10px;
}
.phones-container .w-50-inner {
    flex-direction: column;
}
.single-phone-container {
    display: flex;
}
.input-readonly {
    width: fit-content;
    margin-right: 10px;
    width: auto !important;
}
#childs_count_div {
    visibility: hidden;
}
/* Personal Info Tab End*/

/* Address Tab Start*/
.address-block {
    flex-direction: column;
}
#additional_address {
    display: none;
}
#reg_add_false_label {
    margin-right: 10px;
}
.addit_addr_quest_container {
    display: flex;
    justify-content: flex-end;
}
.addit_addr_quest_container label {
    width: auto !important;
}
/* Address Tab End*/

/* Education Tab Start*/
#additional_education,
.languages-container {
    padding-top: 32px;
    margin-top: 40px;
    border-top: 1px solid white;
}
#additional_education {
    display: none;
}
.education-block ul,
#experience-container ul {
    max-height: 200px;
}
/* Education Tab End*/

/* Experience Tab Start*/
.experience-radio {
    display: flex;
}
.experience-radio label {
    width: auto !important;
}
.experience-radio {
    justify-content: flex-end;
}
.experience-radio label:first-child {
    margin-right: 10px;
}
#experienced_false_label {
    margin-right: 10px;
}
#experience-container {
    display: none;
}
#additional_experience {
    display: none;
}
/* Experience Tab End*/

/* Additional Tab Start*/
.additional_radios_container {
    display: flex;
    margin-top: 18px;
}
.additional_radios_container label {
    width: auto !important;
}
.radios-left-label {
    margin-right: 10px;
}
#pills-additional .w-100-25 .w-25-inner input {
    display: none;
}
/* Additional Tab End*/

/* Send Tab Start*/
.relatives-question-container {
    display: flex;
    margin-top: 18px;
}
.relatives-question-container label {
    width: auto !important;
}
#relatives-div {
    width: 100%;
    margin-top: 18px;
    display: none;
    justify-content: space-between;
}
#relatives-div .w-50-inner {
    width: 49%;
}
.form_submit_container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0;
}
/* Send Tab End*/
